{% extends 'base.html' %}

    {% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <div><h1>Список постов</h1></div>
        <div>
            <a href="/" class="btn btn-primary">На главную</a>
            <a href="{% url 'blog:post_add' %}" class="btn btn-success">Создать пост</a>
        </div>
    </div>
    {% if posts %}
        <div class="row row-cols-1 row-cols-sm-1 g-3">
        {% for post in posts %}
            <div class="col">
                <div class="card h-100">
                                    {% if post.image %}
                    <div style="height: 200px; overflow: hidden;">
                        <img src="{{ post.image.url }}" 
                             alt="{{ post.title }}" 
                             class="img-fluid w-100 h-100"
                             style="object-fit: cover;">
                    </div>
                {% else %}
                    <!-- Заглушка для поста без изображения -->
                    <div class="bg-light d-flex align-items-center justify-content-center" 
                         style="height: 200px;">
                        <i class="fas fa-image fa-3x text-muted"></i>
                    </div>
                {% endif %}
                    <div class="card-header">{{ post.title }} - {{ post.created_at }}</div>
                    <div class="card-body" style="max-height: 200px; overflow-y: auto;">{{ post.lead|striptags }}</div>
                    <div class="card-footer">
                        <a href="{% url 'blog:post_update' post.id %}" class="btn btn-outline-success">Детали</a> 
                        <a href="{% url 'blog:post_delete' post.id %}" class="btn btn-outline-danger">Удалить</a></div>
                    </div>
                    </div>
        {% endfor %}
        </div>
    {% else %}
        <p>Постов нет.</p>
    {% endif %}
{% endblock %}
