{% extends 'base.html' %}

    {% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1>Список постов</h1>
        </div>
        <div>
            <form method="get" class="">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Поиск по названию и содержанию..." value="{{ search_query|default:'' }}">
                <button class="btn btn-outline-secondary" type="submit">Найти</button>
            </div>
            </form>
        </div>
        <div>
            <a href="/" class="btn btn-outline-success">На главную</a>
        </div>
    </div>
    {% if posts %}
        <div class="row row-cols-1 row-cols-sm-1 g-3 mb-3">
        {% for post in posts %}
            <div class="col">
                <div class="card h-100 rounded-top-3">
                {% if post.image %}
                    <div class="rounded-top-3" style="height: 200px; overflow: hidden;">
                        <img src="{{ post.image.url }}" 
                             alt="{{ post.title }}" 
                             class="img-fluid w-100 h-100"
                             style="object-fit: cover;">
                    </div>
                {% endif %}
                    <div class="card-header">
                        <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
                        - {{ post.created_at }} - категория: {{ post.category }}
                    </div>
                    <div class="card-body" style="max-height: 200px; overflow-y: auto;">{{ post.lead|striptags }}</div>
                    <div class="card-footer">
                        <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-outline-success">Читать дальше</a></div>
                    </div>
                    </div>
        {% endfor %}
        </div>
        
    {% else %}
        <p>Ничего не нашлось..</p>
    {% endif %}
{% endblock %}
