{% extends 'base.html' %}

{% block context %}
<div class="container mt-4">
    <h1 class="mb-4">Создание поста</h1>
    
    <form method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Заголовок</label>
            {{ form.title }}
        </div>

        <div class="mb-3">
            <label class="form-label">Краткое описание</label>
            {{ form.lead }}
        </div>
        
        <!-- Контент -->
        <div class="mb-3">
            <label class="form-label">Содержание</label>
            {{ form.content }}
        </div>
        
        <!-- Категория -->
        <div class="mb-3">
            <label>Категория</label>
            {{ form.category }}
        </div>
        
        <!-- Изображение -->
        <div class="mb-3">
            <label>Изображение</label>
            {{ form.image }}
        </div>
        
        <button type="submit" class="btn btn-success" name="action" value="publish">Опубликовать</button>
        <button type="submit" class="btn btn-info" name="action" value="draft">Сохранить как черновик</button>
    </form>
</div>
{{ form.media }}
{% endblock %}