{% extends 'base.html' %}
{% block title %} Мои заметки {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex justify-content-between align-items-center mb-2">
    <div>
        <h1>Список заметок</h1>
    </div>
    <div>
        <a href="/" class="btn btn-primary">На главную</a>
        <a href="{% url 'notes:notes_basket' %}" class="btn btn-warning">Корзина заметок</a>
        <a href="{% url 'notes:create_note' %}" class="btn btn-success">Создать новую заметку</a>
    </div>
</div>
{% if notes %}
<div class="row row-cols-1 row-cols-sm-3 g-3">
    {% for note in notes %}
    <div class="col">
        <div class="card h-100 {% if note.is_pinned %}border-warning{% endif %}">
            <div class="card-header">{{ note.title }} - {{ note.updated_at }}</div>
            <div class="card-body" style="max-height: 200px; overflow-y: auto;">{{ note.content|safe }}</div>
            <div class="card-footer">

                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#noteModal{{ note.id }}">Подробнее</button> 

                <div class="modal fade" id="noteModal{{ note.id }}" tabindex="-1" aria-labelledby="noteModalLabel{{ note.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel{{ note.id }}">Подробности заметки</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <h5>{{ note.title }}</h5>
                                {{ note.content|safe }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <a href="{% url 'notes:edit_note' note.id %}" class="btn btn-outline-success">Редактировать</a>
                                <form method="post" action="{% url 'notes:delete_note_soft' note.id %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger"
                                            onclick="return confirm('Вы уверены, что хотите удалить эту заметку?');">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <form method="post" action="{% url 'notes:delete_note_soft' note.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger"
                            onclick="return confirm('Вы уверены, что хотите удалить эту заметку?');">
                        Удалить
                    </button>
                </form>
                <!-- Кнопка закрепления/открепления -->
                <form method="post" action="{% url 'notes:toggle_pin' note.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit"
                        class="btn {% if note.is_pinned %}btn-warning{% else %}btn-outline-warning{% endif %}">
                        {% if note.is_pinned %}
                        <i class="bi bi-pin-angle-fill"></i> Открепить
                        {% else %}
                        <i class="bi bi-pin-angle"></i> Закрепить
                        {% endif %}
                    </button>
                </form>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Заметок пока нет.</p>
{% endif %}
{% else %}
<h2>Авторизуйтесь, чтобы создавать заметки!</h2>
{% endif %}
{% endblock %}