{% extends 'base.html' %}
    {% block title %} Мои заметки {% endblock %}

    {% block context %}

    <h1>Список заметок</h1>
    {% if notes %}
        <ul>
        {% for note in notes %}
            <li>{{ note.title }} - {{ note.created_at }} <br> {{ note.content }} </li>
            <a href="{% url 'notes:edit_note' note.id %}">Изменить</a> | <a href="{% url 'notes:delete_note' note.id %}" onclick=" return confirm('Вы уверены, что хотите удалить эту заметку?');">Удалить</a>
        {% endfor %}
        </ul>
    {% else %}
        <p>Заметок пока нет.</p>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'notes:create_note' %}">Создать новую заметку</a>
    {% else %}
    <p>Авторизуйтесь, чтобы создавать заметки!</p>
    {% endif %}
    {% endblock %}
