{% extends 'base.html' %}

{% block content %} 
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1>Мои комментарии</h1>
        </div>
        <div>
            <a href="{% url 'users:profile' %}" class="btn btn-outline-secondary">В мой профль</a>
            <a href="{% url 'blog:post_list' %}" class="btn btn-success">Комментировать</a>
        </div>
    </div>
    {% if comments %}
        <div class="row row-cols-1 row-cols-sm-3 g-3">
        {% for comment in comments %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">{{ comment.created_at }}
                        <div>
                            <p>Комментарий к посту</p>
                            <a href="{% url 'blog:post_detail' comment.post.id%}">{{ comment.post }}</a>
                        </div>
                    </div>
                    <div class="card-body" style="max-height: 200px; overflow-y: auto;">{{ comment.content|striptags }}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}