{% extends 'base.html' %}

{% block content %} 
        <h1>Мои комментарии</h1>
        <a href="{% url 'blog:post_list' %}" class="btn btn-success">Комментировать</a>
    {% if comments %}
        <div class="row row-cols-1 row-cols-sm-3 g-3">
        {% for comment in comments %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">{{ comment.created_at }}</div>
                    <div class="card-body" style="max-height: 200px; overflow-y: auto;">{{ comment.content|striptags }}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}