{% extends 'base.html' %}

{% block content %} 
    <h1>Профиль</h1>
    <div class="mb-3">
        <label class="form-label">Имя пользователя:</label>
        {{ user.username }}
    </div>
    <div class="mb-3">
        <label class="form-label">Фамилия:</label>
        {{ user.last_name }}
    </div>
    <div class="mb-3">
        <label class="form-label">Имя:</label>
        {{ user.first_name }}
    </div>
    <div class="mb-3">
    <label class="form-label">Электронная почта:</label>
        {{ user.email }}
    </div>
    <a href="{% url 'users:profile_edit' %}">Редактировать профиль</a>
    <a href="{% url 'users:posts_user' %}">Мои посты</a>
    <a href="{% url 'users:comments_user' %}">Мои комменты</a>
{% endblock %}