{% extends 'base.html' %}

{% block content %}
<div class="container" style="max-width: 600px;">
  <h1 class="mb-4">Редактирование профиля</h1>

  <form method="POST">
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label">Логин:</label>
      <input type="text" name="username" value="{{ user.username }}">
    </div>

    <div class="mb-3">
      <label class="form-label">Имя:</label>
      <input type="text" name="first_name" value="{{ user.first_name }}">
    </div>

    <div class="mb-3">
      <label class="form-label">Фамилия:</label>
      <input type="text" name="last_name" value="{{ user.last_name }}">
    </div>

    <div class="mb-3">
      <label class="form-label">Email:</label>
      <input type="email" name="email" value="{{ user.email }}">
    </div>

    <div class="mb-3">
      <a href="{% url 'users:change_password' %}">Изменить пароль</a>
    </div>

    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{% url 'users:profile' %}" class="btn btn-outline-success">Отмена</a>
  </form>
</div>
{% endblock %}