{% extends 'base.html' %}

{% block context %} 
    <h1>Профиль</h1>
    <div class="mb-3">
        <label class="form-label">Имя пользователя:</label>
        {{ profile.username }}
    </div>
    <div class="mb-3">
        <label class="form-label">Фамилия:</label>
        {{ profile.last_name }}
    </div>
    <div class="mb-3">
        <label class="form-label">Имя:</label>
        {{ profile.first_name }}
    </div>
    <div class="mb-3">
    <label class="form-label">Электронная почта:</label>
        {{ profile.email }}
    </div>
    <a href="{% url 'users:profile_edit' %}">Редактировать профиль</a>
{% endblock %}